<form {{action "submit" form on="submit" }}>
  {{input placeholder="Name"
          value=form.name}}
  {{input placeholder="description"
          value=form.description}}
  {{input type="submit"}}
</form>
