// Modals
.ember-modal-overlay {
  padding: 0;
  margin: 0;
  background: $base-background;
  background-position: center center; // xpos ypos
  background-repeat: no-repeat;
  background-size: cover;
}

.ember-modal-dialog {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgba($base-background-color, 0);
  box-shadow: none;
}

.ember-text-field {

}

.oto-modal-container {
  height: 100%;
  padding: $small-spacing * 2;

  @include span-columns(4 of 4);
  @include shift(0);

  @include media($tablet) {
    @include span-columns(4 of 8);
    @include shift(2);
  }

  @include media($desktop) {
    @include span-columns(4 of 12);
    @include shift(4);
  }
}

// Sign In Modal
.auth-submit-button {
  border-radius: 50%;
  font-size: modular-scale(0);
  font-weight: normal;
  height: 38px;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 38px;
}

.footer-button-container {
  bottom: 0;
  left: 0;
  padding: $small-spacing * 2;
  position: fixed;
  width: 100%;

  .submit-button {
    float: right;
    // right: 0;
  }

  .cancel-button {
    float: left;
  }

  div,
  button {
    display: inline-block;
    padding: $small-spacing / 2 $small-spacing / 2;
  }
}


// New Trip Form
.submit-new-trip-button {
  border-radius: 50%;
  float:right;
  font-size: 30px;
  font-weight: 100;
  height: 38px;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 2px 0 0;
  width: 38px;
}
