
// New Trip Form
.create-trip-header {
  margin: $base-spacing * 2 $small-spacing $small-spacing;
}

.submit-new-trip-button {
  border-radius: 50%;
  float:right;
  font-size: 30px;
  font-weight: 100;
  height: 38px;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 2px 0 0;
  width: 38px;
}
