// Background and Layout
body {
  background: $base-background;
  background-position: center center; // xpos ypos
  background-repeat: no-repeat;
  background-size: cover;

  .outer-container {
    @include outer-container();
  }

  .row {
    @include row();
    text-align: center;
  }
}

input[type="text"] {
  background-color: rgba($base-background-color, 0);
  border: 0;
  border-bottom: $subtle-border;

}

// Buttons
.subtle-button {
  background-color: rgba($base-background-color, 0);
  color: $subtle-font-color;
  font-size: modular-scale(1);
  font-weight: normal;
}

.highlight-button {
  background-color: $highlight-button;
  box-shadow: $button-box-shadow;
}

.circle {
  // Make a circle mixin
}

// Welcome Page
.oto-subtitle-container {
  @include span-columns(2);
  @include shift(1);
  border-left: 2px solid $heading-font-color;
  padding-left: $small-spacing;
  text-align: left;

  @include media($tablet) {
    @include span-columns(2);
    @include shift(3);
  }

  @include media($desktop) {
    @include span-columns(2);
    @include shift(5);
  }
}

.welcome-greeting-container {
  margin: $base-spacing * 6 0 $base-spacing * 4;
}

.create-trip-button {
  border-radius: 50%;
  font-size: 70px;
  font-weight: 100;
  height: 67px;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 5px 0 0;
  width: 67px;
}

// User Auth Buttons
.auth-button-container {
  margin: $base-spacing 0 0;
  text-align: right;

  div,
  button {
    display: inline-block;
    padding: $small-spacing / 2 $small-spacing / 2;
  }
}

.icon {
  margin: 0 $small-spacing / 2;
  font-size: modular-scale(1);
}
