.trip-details-header {
  padding: $small-spacing * 2 0 0;
  background: $highlight-background;
  min-height: $base-spacing * 4.5;
  text-align: center;
}

.trip-details-body {
  padding: $small-spacing;
  text-align: left;

  @include span-columns(4 of 4);
  @include shift(0);

  @include media($tablet) {
    @include span-columns(6 of 8);
    @include shift(1);
  }

  @include media($desktop) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}

.trip-description {
  margin: $small-spacing 0;
  min-height: $base-spacing; // So that span doesn't disappear
}

.participants-list-header {
  margin: $small-spacing 0;
}

.participants-list {
  margin: $small-spacing / 2 0;
  // text-align: left;

  li {
    border: $thin-border;
    display: inline-block;
    line-height: 0;
    overflow: hidden;
    padding: $base-font-size 0 0;
    text-align: center;
  }
}

.trip-link-share-container {
  align-items: stretch;
  background-color: $subtle-background-color;
  border-radius: 16px;
  box-shadow: $button-box-shadow;
  display: flex;
  flex-flow: row nowrap;
  height: 31px;
  justify-content: space-between;
  margin: $small-spacing 0;
  width: auto;

  .trip-link-share-body {
    align-items: center;
    border-radius: 16px 0 0 16px;
    display: flex;
    padding: 0 $small-spacing;
    text-align: right;
  }

  .trip-link-share-header {
    align-items: center;
    background: $highlight-background;
    border-radius: 0 16px 16px 0;
    display: flex;
    padding: 0 $small-spacing;
  }
}

.trip-action-button-container {
  text-align: center;
}

.trip-footer-button-container {
  button {
    float: left;
    padding: $small-spacing * 0.75 $small-spacing;
  }
}

.trip-cards-container {
  box-shadow: $button-box-shadow;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .trip-card {
    background-color: $subtle-background-color;
    border-radius: 10px;
    height: 160px;
    margin: $small-spacing / 2;
    width: 160px;

    .trip-card-header {
      align-items: center;
      background: $highlight-background;
      border-radius: 10px 10px 0 0;
      display: flex;
      height: 36px;
      justify-content: center;
      text-align: center;
    }

    .trip-card-body {
      padding: $small-spacing;
    }
  }
}
