<h1 class="oto-logo">OTO</h1>

<div class="oto-subtitle-container">
  <h4 class="oto-subtitle">Outdoor<br/>Trip<br/>Organizer</h4>
</div>

<h2>welcome</h2>
<div class="welcome-card">
  <p>with OTO you will be able to create your outdoor trip</p>
</div>
<div class="welcome-card">
  <p>invite your friends to the organization and build it together</p>
</div>
<div class="welcome-card">
  <p>get organization done easily and quick</p>
  <ul>
    <li>Food</li>
    <li>Transporation</li>
    <li>Activities</li>
    <li>Gear</li>
  </ul>
</div>
<p>You are not currently signed in</p>
{{#link-to 'trips.new'}}<button>Create a New Trip</button>{{/link-to}}
<button>Or Join a Trip</button>
{{outlet}}
