<div class="row oto-logo-row">
  <div class="oto-logo-container">
    {{inline-svg "images/oto-logo-2.svg"}}
  </div>
</div>

<div class="row oto-subtitle-row">
  <div class="oto-subtitle-container">
    <h4 class="oto-subtitle">Outdoor<br/>Trip<br/>Organizer</h4>
  </div>
</div>

{{!-- <div class="row">
  <div class="welcome-greeting-container">
    <h1>welcome</h1>
  </div>
</div> --}}

{{!-- LATER ON, MAKE THIS A FANCY CAROUSEL --}}
{{!-- <div class="row">
  <div class="welcome-card">
    <p>with OTO you will be able to create your outdoor trip</p>
  </div>
  <div class="welcome-card">
    <p>invite your friends to the organization and build it together</p>
  </div>
  <div class="welcome-card">
    <p>get organization done easily and quick</p>
    <ul>
      <li>Food</li>
      <li>Transporation</li>
      <li>Activities</li>
      <li>Gear</li>
    </ul>
  </div>
</div> --}}

{{create-trip-button}}

{{outlet}}
