// Background Elements
html {
  min-height: 100%;
}

body {
  background: $base-background;
  background-position: center center; // xpos ypos
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100%;
}

// Forms
form {
  margin: $small-spacing * 2;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: rgba($base-background-color, 0);
  border: 0;
  border-bottom: $subtle-border;
  border-radius: 0;
  color: $base-font-color;
  padding: $small-spacing / 2 $small-spacing $small-spacing * 1.5;
}

// Buttons & Links
// button {
//   @extend .highlight-button; // Default button is highlight-button
// }
a {
  &:focus,
  &:hover {
    color: tint($action-color, 50%);
  }
}

.subtle-button {
  background: rgba($base-background-color, 0);
  color: $subtle-font-color;
  font-size: modular-scale(1);
  font-weight: normal;
  &:focus,
  &:hover {
    background: rgba($base-background-color, 0);
    color: $base-font-color;
    outline: none;
  }
}

.highlight-button {
  background: $highlight-background;
  box-shadow: $button-box-shadow;
  font-weight: 100;
  &:focus,
  &:hover {
    background-color: rgba($highlight-background-color, 0.85);
    color: $base-font-color;
    outline: none;
  }
}

.danger-button {
  background: rgba(red, 0.7);
  box-shadow: $button-box-shadow;
  font-weight: 100;
  &:focus,
  &:hover {
    background-color: rgba(red, 0.85);
    color: $base-font-color;
    outline: none;
  }
}

.pill-button {
  border-radius: 100px;
  margin: $small-spacing;
}

.sm-circle {
  border-radius: 50%;
  height: 34px;
  width: 34px;
}

.md-circle {
  border-radius: 50%;
  font-size: 70px;
  font-weight: 100;
  height: 67px;
  line-height: 0;
  margin: 0 0 $base-spacing;
  overflow: hidden;
  padding: 5px 0 0;
  width: 67px;
}

.icon {
  margin: 0 $small-spacing / 2;
  font-size: modular-scale(1);
}

.footer-button-container {
  bottom: 0;
  left: 0;
  padding: $small-spacing;
  position: fixed;
  width: 100%;
  text-align: center;

  button {
    display: inline-block;
  }
}
