#{$all-buttons} {
  appearance: none;
  // background-color: $action-color;
  border: 0;
  // border-radius: $base-border-radius;
  color: $base-font-color;
  cursor: pointer;
  // display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  // -webkit-font-smoothing: antialiased;
  // font-weight: 600;
  // line-height: 1;
  // padding: $small-spacing $base-spacing;
  // text-decoration: none;
  // transition: background-color $base-duration $base-timing;
  // transition: all $base-duration $base-timing;
  user-select: none;
  // vertical-align: middle;
  // white-space: nowrap;

  // &:hover,
  // &:focus {
  //   // background-color: shade($action-color, 20%);
  //   // color: $base-font-color;
  // }

  &:disabled {
    cursor: not-allowed;
    // opacity: 0.5;

    // &:hover {
    //   // background-color: $action-color;
    // }
  }
}


button,
.highlight-button {
  background: $highlight-background;
  box-shadow: $button-box-shadow;
  font-weight: 100;

  &:focus,
  &:hover {
    background-color: rgba($highlight-background-color, 0.85);
    color: $base-font-color;
    outline: none;
  }
}

.subtle-button {
  background: rgba($base-background-color, 0);
  color: $subtle-font-color;
  font-size: modular-scale(1);
  font-weight: normal;

  &:focus,
  &:hover {
    background: rgba($base-background-color, 0);
    color: $base-font-color;
    outline: none;
  }
}

.danger-button {
  background: rgba(red, 0.7);
  box-shadow: $button-box-shadow;
  font-weight: 100;
  &:focus,
  &:hover {
    background-color: rgba(red, 0.85);
    color: $base-font-color;
    outline: none;
  }
}


.pill-button {
  border-radius: 100px;
  margin: $small-spacing;
}

.sm-circle {
  border-radius: 50%;
  height: 34px;
  width: 34px;
}

.md-circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 100;
  height: 67px;
  // line-height: 0;
  margin: 0 0 $base-spacing;
  overflow: hidden;
  // padding: 5px 0 0;
  width: 67px;
}

.icon {
  margin: 0 $small-spacing / 2;
  font-size: modular-scale(1);
}

.footer-button-container {
  bottom: 0;
  left: 0;
  padding: $small-spacing;
  position: fixed;
  width: 100%;
  text-align: center;

  button {
    display: inline-block;
  }
}
