@import '../bourbon/bourbon';
@import '../neat/neat-helpers';

// Custom Grid Settings
$column: 40px;
$gutter: 44px;
$grid-columns: 12;
$max-width: 2080px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 780px 8);
$mobile: new-breakpoint(max-width 480px 4);
