body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  // width: 135.7px;
	// height: 33px;
	// font-family: Avenir-Book;
	// font-size: 24px;
  font-size: modular-scale(4);
	letter-spacing: 0.7px;
	text-align: center;
}

h1.oto-logo {
  font-family: 'Geo', sans-serif;
  font-size: modular-scale(10);
  font-weight: bold;
  letter-spacing: -5px;
  text-align: center;
  margin: $small-spacing / 2 0;
  $oto-logo-scale-factor: 0.9;
  transform : scale(1,$oto-logo-scale-factor);
  -webkit-transform:scale(1,$oto-logo-scale-factor); /* Safari and Chrome */
  -moz-transform:scale(1,$oto-logo-scale-factor); /* Firefox */
  -ms-transform:scale(1,$oto-logo-scale-factor); /* IE 9+ */
  -o-transform:scale(1,$oto-logo-scale-factor); /* Opera */
}

h2.modal-header {
  font-size: modular-scale(1);
  font-weight: normal;
}

p.modal-description {
  color: $subtle-font-color;
}

h4.oto-subtitle {
	// width: 54.5px;
	// height: 45px;
	// font-family: Avenir-Light;
	font-size: modular-scale(2);
	line-height: 1.2;
	letter-spacing: 0.2px;
	color: $heading-font-color;
  margin-bottom: 0;
}

p {
  font-size: modular-scale(1);
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
