<h2>
  <span class="trip-name" contenteditable>{{trip.name}}</span>
</h2>
<p class="subtle-text small-text">
  {{moment-format trip.startDate 'll'}} -
  {{moment-format trip.endDate 'll'}}
</p>
<p class="subtle-text small-text">
  <span class="trip-location" contenteditable>{{trip.location}}</span>
</p>
