<div class="create-trip-button-container">
  <p>Create a new trip</p>
  {{#link-to 'trips.new' tagName="button" class="create-trip-button highlight-button md-circle"}}
    <span>+</span>
  {{/link-to}}
  {{!-- <button>Or Join a Trip</button> --}}
</div>
