<div class="create-trip-button-container row">
  <p>Create a new trip</p>
  {{#link-to 'trips.new'}}
    <button class="create-trip-button highlight-button md-circle">+</button>
  {{/link-to}}
  {{!-- <button>Or Join a Trip</button> --}}
</div>
