<div class="create-trip-header row">
  <h3 class="new-trip-heading">START YOUR TRIP</h3>
  <p class="small-text subtle-text">Fill out your main info; you can always change it later.</p>
</div>

{{new-trip-form submit="createTrip"}}
