<div class="trip-link-share-body">
  <p class="v-small-text">{{url}}</p>
</div>
<a href="mailto:?subject=I invite you to join {{title}}&body=Click here to join the trip: {{url}}" class="trip-link-share-header">
  <h4>invite</h4>
</a>
