{{#link-to 'trip' trip tagName="button" class="highlight-button trip-summary-button"}}
  <div class="trip-summary-info-container">
    <h3 class="trip-summary-title">{{trip.name}}</h3>
    <p class="trip-summary-subtitle subtle-text small-text">{{trip.location}}</p>
  </div>
{{/link-to}}
