<h2>User Homepage - Trips</h2>

{{#each model as |trip|}}
  {{trip-summary trip=trip class="trip-summary-container"}}
{{/each}}

{{#link-to 'trips.new' tagName="button" class="highlight-button"}}
  <h3>Create Trip</h3>
{{/link-to}}
