<h2>User Homepage - Trips</h2>

{{#each model as |trip|}}
  {{trip-summary trip=trip class="trip-summary-container"}}
{{/each}}

<div class="row">
  <p>Create a new trip</p>
  {{#link-to 'trips.new'}}
    <button class="create-trip-button highlight-button circle">+</button>
  {{/link-to}}
  {{!-- <button>Or Join a Trip</button> --}}
</div>
