@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Geo);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(191, 233, 144, 0.7);
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Lato", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea,
select[multiple] {
  background-color: #0e0096;
  border: 2px solid #ffffff;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #cccccc; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: rgba(191, 233, 144, 0.7);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(179, 229, 123, 0.4);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #0d008f;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 2px solid #ffffff; }

textarea {
  resize: vertical; }

[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #bfbfbf;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 2px solid #ffffff;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #ffffff;
  font-family: "Lato", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0; }

h1 {
  font-size: 2.44141em;
  letter-spacing: 0.7px;
  text-align: center; }

h2 {
  font-size: 1.95312em;
  letter-spacing: 2px;
  text-align: center; }

h3 {
  font-size: 1.5625em;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center; }

p {
  font-size: 1.25em;
  margin: 0; }

::-webkit-input-placeholder {
  font-size: 0.64em;
  letter-spacing: 2px; }

::-moz-placeholder {
  font-size: 0.64em;
  letter-spacing: 2px; }

:-ms-input-placeholder {
  font-size: 0.64em;
  letter-spacing: 2px; }

::placeholder {
  font-size: 0.64em;
  letter-spacing: 2px; }

a {
  color: rgba(191, 233, 144, 0.7);
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: rgba(118, 144, 89, 0.775); }

hr {
  border-bottom: 2px solid #ffffff;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

h1.oto-logo {
  font-family: 'Geo', sans-serif;
  font-size: 9.31323em;
  font-weight: bold;
  letter-spacing: -5px;
  text-align: center;
  -webkit-transform: scale(1, 0.9);
          transform: scale(1, 0.9); }

h4.oto-subtitle {
  color: #ffffff;
  font-size: 1.5625em;
  letter-spacing: .2px;
  line-height: 1.2;
  margin-bottom: 0; }

h2.modal-header {
  font-size: 1.25em;
  font-weight: normal; }

.subtle-text {
  color: rgba(255, 255, 255, 0.5); }

.small-text {
  font-size: 0.8em;
  font-weight: normal;
  letter-spacing: 1px; }

h3.trip-summary-title {
  font-weight: normal;
  margin: 0.375em 0; }

p.trip-summary-subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  font-weight: normal;
  margin: 0; }

.ember-modal-overlay {
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50; }

.ember-modal-dialog {
  z-index: 50;
  position: fixed; }
  .ember-modal-dialog.ember-modal-dialog-in-place {
    position: relative; }

html {
  min-height: 100%; }

body {
  background: -webkit-linear-gradient(227deg, rgba(14, 0, 150, 0.8), rgba(0, 0, 0, 0.8)), url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/09/mountain-lake_HD-Wallpapers.jpg");
  background: linear-gradient(-137deg, rgba(14, 0, 150, 0.8), rgba(0, 0, 0, 0.8)), url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/09/mountain-lake_HD-Wallpapers.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100%; }
  body .outer-container {
    max-width: 2080px;
    margin-left: auto;
    margin-right: auto; }
    body .outer-container::after {
      clear: both;
      content: "";
      display: block; }
  body .row {
    display: block;
    text-align: center; }
    body .row::after {
      clear: both;
      content: "";
      display: block; }

form,
.form {
  margin: 1.5em; }

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: rgba(14, 0, 150, 0);
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  color: #ffffff;
  padding: 0.375em 0.75em 1.125em; }

a:focus, a:hover {
  color: rgba(233, 247, 216, 0.85); }

.subtle-button {
  background: rgba(14, 0, 150, 0);
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  font-weight: normal; }
  .subtle-button:focus, .subtle-button:hover {
    background: rgba(14, 0, 150, 0);
    color: #ffffff;
    outline: none; }

.highlight-button {
  background: rgba(126, 211, 33, 0.7);
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.25), 0 0 7px 0 rgba(0, 0, 0, 0.12);
  font-weight: 100; }
  .highlight-button:focus, .highlight-button:hover {
    background-color: rgba(126, 211, 33, 0.85);
    color: #ffffff;
    outline: none; }

.danger-button {
  background: rgba(255, 0, 0, 0.7);
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.25), 0 0 7px 0 rgba(0, 0, 0, 0.12);
  font-weight: 100; }
  .danger-button:focus, .danger-button:hover {
    background-color: rgba(255, 0, 0, 0.85);
    color: #ffffff;
    outline: none; }

.pill-button {
  border-radius: 100px;
  margin: 0.75em; }

.sm-circle {
  border-radius: 50%;
  height: 34px;
  width: 34px; }

.md-circle {
  border-radius: 50%;
  font-size: 70px;
  font-weight: 100;
  height: 67px;
  line-height: 0;
  margin: 0 0 1.5em;
  overflow: hidden;
  padding: 5px 0 0;
  width: 67px; }

.icon {
  margin: 0 0.375em;
  font-size: 1.25em; }

.footer-button-container {
  bottom: 0;
  left: 0;
  padding: 0.75em;
  position: fixed;
  width: 100%;
  text-align: center; }
  .footer-button-container button {
    display: inline-block; }

.ember-modal-overlay {
  padding: 0;
  margin: 0;
  background: -webkit-linear-gradient(227deg, rgba(14, 0, 150, 0.8), rgba(0, 0, 0, 0.8)), url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/09/mountain-lake_HD-Wallpapers.jpg");
  background: linear-gradient(-137deg, rgba(14, 0, 150, 0.8), rgba(0, 0, 0, 0.8)), url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/09/mountain-lake_HD-Wallpapers.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.ember-modal-dialog {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgba(14, 0, 150, 0);
  box-shadow: none; }

.oto-modal-container {
  height: 100%;
  padding: 1.5em;
  float: left;
  display: block;
  margin-right: 15.06849%;
  width: 100%;
  margin-left: 0%; }
  .oto-modal-container:last-child {
    margin-right: 0; }
  @media screen and (min-width: 480px) {
    .oto-modal-container {
      float: left;
      display: block;
      margin-right: 7.00637%;
      width: 46.49682%;
      margin-left: 26.75159%; }
      .oto-modal-container:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 780px) {
    .oto-modal-container {
      float: left;
      display: block;
      margin-right: 4.56432%;
      width: 30.29046%;
      margin-left: 34.85477%; }
      .oto-modal-container:last-child {
        margin-right: 0; } }

.auth-submit-button {
  border-radius: 50%;
  font-size: 1em;
  font-weight: normal;
  height: 38px;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 38px; }

.submit-button {
  float: right;
  margin: 0.375em 0.75em; }

.cancel-button {
  float: left; }

.oto-logo {
  margin: 0.09375em 0 0; }

.oto-subtitle-row {
  margin: 1.5em 0; }
  .oto-subtitle-row .oto-subtitle-container {
    float: left;
    display: block;
    margin-right: 15.06849%;
    width: 42.46575%;
    margin-left: 28.76712%;
    border-left: 2px solid #ffffff;
    padding-left: 0.75em;
    text-align: left; }
    .oto-subtitle-row .oto-subtitle-container:last-child {
      margin-right: 0; }
    @media screen and (min-width: 480px) {
      .oto-subtitle-row .oto-subtitle-container {
        float: left;
        display: block;
        margin-right: 7.00637%;
        width: 19.74522%;
        margin-left: 40.12739%; }
        .oto-subtitle-row .oto-subtitle-container:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 780px) {
      .oto-subtitle-row .oto-subtitle-container {
        float: left;
        display: block;
        margin-right: 4.56432%;
        width: 12.86307%;
        margin-left: 43.56846%; }
        .oto-subtitle-row .oto-subtitle-container:last-child {
          margin-right: 0; } }

.create-trip-button {
  border-radius: 50%;
  font-size: 70px;
  font-weight: 100;
  height: 67px;
  line-height: 0;
  margin: 0.1875em 0 1.5em;
  overflow: hidden;
  padding: 5px 0 0;
  width: 67px; }

.auth-button-container {
  padding-bottom: 0; }
  .auth-button-container .home-button {
    float: left;
    margin: 0;
    padding-bottom: 0.375em; }
  .auth-button-container .user-settings-button {
    float: left;
    margin: 0;
    padding-bottom: 0.375em; }
  .auth-button-container .sign-in-button {
    margin: 0; }
  .auth-button-container .sign-up-button {
    margin: 0; }
  .auth-button-container button {
    padding-left: 0.375em;
    padding-right: 0.375em;
    float: right;
    height: 3em; }

.create-trip-header {
  margin: 3em 0.75em 0.75em; }

.submit-new-trip-button {
  border-radius: 50%;
  float: right;
  font-size: 30px;
  font-weight: 100;
  height: 38px;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 2px 0 0;
  width: 38px; }

.trip-list-container {
  margin: 0.75em 0 1.5em; }

.create-trip-button-container {
  padding-top: 3em; }

.trip-summary-container {
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  margin-right: 15.06849%;
  width: 100%;
  margin-left: 0%;
  margin-right: 0; }
  .trip-summary-container:last-child {
    margin-right: 0; }
  @media screen and (min-width: 480px) {
    .trip-summary-container {
      float: left;
      display: block;
      margin-right: 7.00637%;
      width: 46.49682%;
      margin-left: 26.75159%; }
      .trip-summary-container:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 780px) {
    .trip-summary-container {
      float: left;
      display: block;
      margin-right: 4.56432%;
      width: 30.29046%;
      margin-left: 34.85477%; }
      .trip-summary-container:last-child {
        margin-right: 0; } }
  .trip-summary-container .trip-summary-button {
    border-radius: 0;
    box-shadow: inset 0 20px 20px rgba(0, 0, 0, 0.2);
    height: 5.25em;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%; }

.trip-summary-container:first-child .trip-summary-button {
  box-shadow: none; }

.trip-details-header {
  padding: 1.5em 0 0;
  background: rgba(126, 211, 33, 0.7);
  min-height: 6.75em;
  text-align: center; }

.trip-details-body {
  padding: 0.75em;
  text-align: left;
  float: left;
  display: block;
  margin-right: 15.06849%;
  width: 100%;
  margin-left: 0%; }
  .trip-details-body:last-child {
    margin-right: 0; }
  @media screen and (min-width: 480px) {
    .trip-details-body {
      float: left;
      display: block;
      margin-right: 7.00637%;
      width: 73.24841%;
      margin-left: 13.3758%; }
      .trip-details-body:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 780px) {
    .trip-details-body {
      float: left;
      display: block;
      margin-right: 4.56432%;
      width: 65.14523%;
      margin-left: 17.42739%; }
      .trip-details-body:last-child {
        margin-right: 0; } }

.trip-description {
  margin: 0.75em 0;
  min-height: 1.5em; }

.participants-list-header {
  margin: 0.75em 0; }

.participants-list {
  margin: 0.375em 0; }
  .participants-list li {
    border: 1px solid #ffffff;
    display: inline-block;
    line-height: 0;
    overflow: hidden;
    padding: 1em 0 0;
    text-align: center; }

.trip-action-button-container {
  text-align: center; }

.trip-footer-button-container button {
  float: left;
  padding: 0.5625em 0.75em; }

.pika-single {
  background: -webkit-linear-gradient(227deg, rgba(14, 0, 150, 0.8), rgba(0, 0, 0, 0.8)), url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/09/mountain-lake_HD-Wallpapers.jpg");
  background: linear-gradient(-137deg, rgba(14, 0, 150, 0.8), rgba(0, 0, 0, 0.8)), url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/09/mountain-lake_HD-Wallpapers.jpg"); }
  .pika-single div {
    background: rgba(14, 0, 150, 0); }
  .pika-single .pika-label {
    font-family: "Lato", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #ffffff; }
  .pika-single .pika-title button {
    background-color: #7ed321;
    color: rgba(255, 255, 255, 0);
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.25), 0 0 7px 0 rgba(0, 0, 0, 0.12);
    font-weight: 100; }
  .pika-single table.pika-table th {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Lato", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.8em;
    font-weight: normal; }
  .pika-single table.pika-table td {
    border: 0; }
  .pika-single table.pika-table td.is-selected button {
    color: rgba(191, 233, 144, 0.7);
    box-shadow: none; }
  .pika-single table.pika-table button {
    background-color: rgba(14, 0, 150, 0);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
    font-family: "Lato", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    padding: 0.75em 0;
    text-align: center; }