{{trip-details trip=model
               submit="updateTrip"
               deleteTrip="deleteTrip"
               joinTrip="joinTrip"
             }}

{{!-- SHOW CARDS ON PAGE AND ALLOW FOR NEW CARDS --}}
{{!-- <h3>Select Trip Cards</h3>
<ul>
  <li>Food Card</li>
  <li>Transport Card</li>
  <li>Activities Card</li>
</ul>

<h3>Invite Friends</h3>
<p>Share-able Link</p> --}}
