<h2>Trip Details</h2>

{{trip-details trip=model
               submit="updateTrip"
               deleteTrip="deleteTrip"
             }}

<h3>Select Trip Cards</h3>
<ul>
  <li>Food Card</li>
  <li>Transport Card</li>
  <li>Activities Card</li>
</ul>

<h3>Invite Friends</h3>
<p>Share-able Link</p>
